* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next", serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #649d66;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.subheader {
  display: flex;
  height: 40px;
  padding-left: 20px;
  align-items: center;
  justify-content: space-around;
}

.app {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  height: 300px;
  width: 200px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;

  background-color: #ededed;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 40px;
}

