.user-info {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-usr {
    background-color: #ededed;
    width: 500px;
    height: 500px;
    border-radius: 15px;
}

label {
}

input {
    height: 40px;
    width: 60%;
    margin-bottom: 20px;
    font-size: 18px;
}

.submit-button {
    width: 100px;
    height: 40px;
    border-style: none;
    border-radius: 12px;
    background-color: #649d66;
    font-size: 18px;
    color: white;
}