.admin-panel {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-row {
    background-color: #ededed;
    padding-right: 10px;
    padding-left: 10px;
    width: 60%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}